.fz { background: #ecf0f1 }
.webSiteHead {    text-align: center;    margin-top: 130px;}
.mianStyle {margin-top: 150px;    margin-left: 230px;    /* padding-left: 30px; */    margin-right: 230px;}
.article1 {}
.article2 {}
.image1 { margin-top: 80px;}
.image2 {}
.video1 { margin-top: 80px;}
.video2 {}
.articleStyle {text-align: center;  margin-top: 80px; }
.articleContentStyle {margin-top: 50px;}